body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* fondo color pastel y circulos */
.background {
  background-color: #f4c4c4;
  background-image: url(./assets/background2.jpg);
  min-height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Tarjeta de presentación */
.card {
  display: flex;
  background-color: #e2a5a5;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  gap: 20px;
  max-width: 800px;
  align-items: center;
}

/* Imagen con ícono encima */
.photo {
  position: relative;
}

.photo img {
  width: 320px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px 50px 5px 50px;
}

/* Contenido */
.contenido {
  max-width: 450px;
  text-align: justify;
  color: rgb(171, 156, 171);
}

.contenido h2 {
  margin: 10px 0;
  font-size: 36px;
  color: rgb(171, 156, 171);
}

.contenido p {
  font-size: 16px;
  color: rgb(171, 156, 171);
}