body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* fondo color pastel y circulos */
/* background-color: #f4c4c4; */
.background {
  background-image: url(./assets/background2.jpg);
  min-height: 100vh;
  padding: 40px;
  display: flex;
  justify-self: center;
  align-items: center;
  border-bottom: 5px;
  border-bottom-color: darkgray;
}

/* Tarjeta de presentación */
.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 250px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  gap: 20px;
  max-width: 800px;
  align-items: center;
}

/* Imagen */
.photo {
  position: relative;
}

.photo img {
  width: 320px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px 50px 5px 50px;
  box-shadow: 4px 6px 9px -3px rgba(0, 0, 0, 0.75);
}

/* Contenido */
.contenido {
  max-width: 450px;
  text-align: justify;
  color: rgb(171, 156, 171);
}

.contenido h2 {
  margin: 10px 0;
  font-size: 36px;
  color: rgb(171, 156, 171);
  text-shadow: 2px 2px 4px rgba(177, 174, 174, 0.5);
}

.contenido p {
  font-size: 16px;
  color: rgb(171, 156, 171);
  justify-content: center;
}

/* section:Education  */
.education .card {
  margin-top: 40px;
  padding: 20px;
  display: flex;
  gap: 20px;
  border-radius: 20px;
  box-shadow: 4px 6px 9px -3px rgba(0, 0, 0, 0.75);
}

.education .title {
  margin: 10px 0;
  font-size: 36px;
  color: rgb(171, 156, 171);
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px 4px rgba(177, 174, 174, 0.5);
}

.card h3 {
  font-size: 16px;
  font-weight: 700;
  color: rgb(171, 156, 171);
}


.services h3 {
  margin-bottom: 10px;
}